<a href="https://colab.research.google.com/github/tazkiyaas/PSDS-5.0/blob/main/Tugas_Struktur_Data_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Struktur Data Tuple

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya. Umumnya Tuple digunakan untuk data yang bersifat sekali tulis dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [1]:
# Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print ("ini adalah Tuple", T1)

ini adalah Tuple (1, 'dua', True, (1+2j))

In [2]:
# Menampilkan tipe struktur data
type(T1)

tuple

**Latihan**

In [6]:
#Tuple 1
T1 = (3, "kita", False, 5+3j)
print ("ini adalah Tuple buatan saya", T1)

ini adalah Tuple buatan saya (3, 'kita', False, (5+3j))

**Sifat-sifat Tuple**

In [7]:
#Terurut/Ordered
T1[0:3]

(3, 'kita', False)

In [8]:
#Tibak bisa diganti/Immutable
T1[2] = "manusia"

TypeError: ignored

In [9]:
#Dapat diindeks/slicing
print("elemen kedua dari Tuple T1 adalah:", T1[2])

elemen kedua dari Tuple T1 adalah: False

In [10]:
#Dapat diizinkan duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

**Menggabungkan Tiple**

In [11]:
#Menggabungkan tuple
T3 = T1 + T2
T3

(3, 'kita', False, (5+3j), 3, 2.4, True, 2.4)

**Latihan 2**

In [12]:
#Tuple 2
T2 = (15, 9.25, True, 9.25)
T2

(15, 9.25, True, 9.25)

In [13]:
#Gabungan Tuple
T3 = T1 + T2
T3

(3, 'kita', False, (5+3j), 15, 9.25, True, 9.25)